html {
    font-size: 10px;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dividerTop {
    width: 100%;
    border-top:rgb(14, 109, 41) solid 1px;
    margin: 2rem 0;
}

#container {
    padding: 2rem;
    width: 80vw;
    height: 70vh;
}

#questionNum {
    font-family: 'Open Sans';
    color: #141414;
    font-weight: 400;
    font-size: 2rem;
}

#questionText {
    font-size: 3.5rem;
    font-weight: 600;
    font-family: 'Open Sans';
    color: rgb(14, 109, 41);
    width: 45%;
}